# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\gamel\OneDrive\Área de Trabalho\PROJETOS GIT HUB\CURSOS\DIGITAL HOUSE\santanders-coders-digital-house\AULA-12\EXERCICIOS\RESOLUCOES\EXERCICIO-01\.idea/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
# Editor-based HTTP Client requests
/httpRequests/
